<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/restaurant.css' />

<% function prettyDate(date){
  const options = {year: 'numeric', month: 'numeric', day: 'numeric',};
  return date.toLocaleDateString("en-US", options);
} %> 

<div id="details" class="">
    <!-- <div class="logo">logo</div> -->
    <div class="restaurant">
      <h1><%= restaurant.name %></h1>
      <p><%= restaurant.address %></p>
    </div>
    <div id="rating"> 
      <p id="rating-num">10</p>
      <!-- Rating -->
    </div>
    <div>
      <a href="<%= restaurant.url %>">Website</a>
    </div>
</div>  

<a class="btn btn-outline-primary" href="/restaurant/<%=restaurant._id%>/review/new" > Add a Review</a>
<div id="reviews">
  <% restaurant.ratings.forEach(function(m) { %>
    <div class="reviews pt-3 d-flex flex-wrap">
      <div class="card col-12 col-sm-5 col-md-3">
        <img class="card-img-top" src="/images/pizza.jpeg" alt="Card image cap">
        <div class="card-body" >
          <div class="rating">
            <p class="rating-num"><%= m.rating %></p>
          </div>
          <h5 class="reviewCard__title"><%= m.comment %></h5>
          <p class="reviewCard__location"><%= m.name %> | <%= prettyDate(m.date) %></p>
        </div>
      </div>
    </div>
  <% }); %>
</div>



<%- include('../partials/footer') %>