<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/restaurant.css' />

<% function prettyDate(date){
  const options = {year: 'numeric', month: 'numeric', day: 'numeric',};
  return date.toLocaleDateString("en-US", options);
} %> 

<div id="details" class="">
    <!-- <div class="logo">logo</div> -->
    <div class="restaurant">
      <h1><%= restaurant.name %></h1>
      <p><%= restaurant.address %></p>
    </div>
    <!-- <div id="rating"> 
      <p id="rating-num">10</p>
    </div> icebox-->
    <div>
      <a href="<%= restaurant.url %>">Website</a>
    </div>
</div>  
<% if (user) { %>
  <a class="btn btn-outline-primary" href="/restaurant/<%=restaurant._id%>/review/new" > Add a Review</a>
<% }; %>
  

<div id="reviews">
  <div class="reviews pt-3 d-flex flex-wrap">
  <% if(restaurant.ratings){ %> 
    <% restaurant.ratings.forEach(function(m) { %>
        <div class="card col-12 col-sm-5 col-md-3"> 
          <img class="card-img-top" src="<%=m.photo%>" alt="Card image cap">
          <!-- <img class="card-img-top" src="/images/pizza.jpeg" alt="Card image cap"> -->
          <div class="card-body" >
            <div class="rating">
              <p class="rating-num"><%= m.rating %></p>
            </div>  
            <!-- icebox -->
            <h5 class="reviewCard__title"><%= m.comment %></h5>
            <p class="reviewCard__location"><%= m.name %> | <%= prettyDate(m.date) %></p>
            
            <% if(user) { %> 
              <% if (m.userId = (user.userId)) { %> 
                <form action="/review/<%= m._id %>?_method=PUT" method="POST">
                  <!-- Value attribute is being set to the comment's current text -->
                  <input name="text" value="<%= m.comment %>">
                  <button lass="btn btn-outline-primary" type="submit">Edit</button>
                </form>
                <form action="/review/<%= m._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-outline-primary" type="submit">X</button>
                </form>
              <% } %> 
            <% } %> 
          </div>
        </div>
      
    <% }); %>
  <% }; %> 
  </div>
</div>



<%- include('../partials/footer') %>