<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/restaurant.css' />

<% function prettyDate(date){
  const options = {year: 'numeric', month: 'numeric', day: 'numeric',};
  return date.toLocaleDateString("en-US", options);
} %> 

<div id="details" class="">
    <!-- icebox -->
    <!-- <div class="logo">logo</div> -->
  <div class="restaurant">
    <h1><%= restaurant.name %></h1>
    <p><%= restaurant.address %></p>
  </div>
  <!-- <div id="rating"> 
    <p id="rating-num"> </p>
  </div> icebox -->
  <div>
    <a href="<%= restaurant.url %>">Website</a>
  </div>
</div>  
<% if (user) { %>
  <a class="btn btn-outline-primary" href="/restaurant/<%=restaurant._id%>/review/new" > Add a Review</a>
<% }; %>
  
<div id="reviews">
  <div class="reviews pt-3 d-flex flex-wrap">
    <% if(restaurant.ratings.length > 0){ %> 
      <% restaurant.ratings.forEach(function(m) { %>
        <div class="card col-12 col-sm-5 col-md-3"> 
          <div class="image-container">
            <img class="card-img-top" src="<%=m.photo%>" alt="Card image cap">
          </div>
          <!-- if else ice box -->
          <!-- <img class="card-img-top" src="/images/pizza.jpeg" alt="Card image cap"> -->
          <div class="card-body" >
            <div class="rating">
              <p class="rating-num"><%= m.rating %></p>
            </div>  
            <h5 class="reviewCard__title"><%= m.comment %></h5>
            <p class="reviewCard__cost">Cost of Pizza: $<%= m.cost %></p>
            <p class="reviewCard__location"><%= m.name %> | <%= prettyDate(m.date) %></p>
            <% if(user) { %> 
              <% if (m.userId === (user.userId)) { %> 
                <form action="/review/<%= m._id %>?_method=PUT" method="POST">
                  <div class="row">
                    <div class="col"><input name="textarea" class="form-control" rows="3" value="<%= m.comment %>"></div>
                    <div class="col"> <button class="btn btn-outline-primary" type="submit">Edit</button></div>
                  </div>
                </form>
                <form action="/review/<%= m._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-outline-primary" type="submit">X</button>
                </form>
              <% } %> 
            <% } %> 
          </div>
        </div>
      <% }); %>
    <% }; %> 
  </div>
</div>

<%- include('../partials/footer') %>